@font-face {
  font-family: 'mm-blog-icons';
  src: url('../font/mm-blog-icons.eot?20762065');
  src: url('../font/mm-blog-icons.eot?20762065#iefix') format('embedded-opentype'),
       url('../font/mm-blog-icons.woff2?20762065') format('woff2'),
       url('../font/mm-blog-icons.woff?20762065') format('woff'),
       url('../font/mm-blog-icons.ttf?20762065') format('truetype'),
       url('../font/mm-blog-icons.svg?20762065#mm-blog-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mm-blog-icons';
    src: url('../font/mm-blog-icons.svg?20762065#mm-blog-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mm-blog-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ghost:before { content: '\e800'; } /* '' */
.icon-feed:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-stats:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-google-plus:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-twitter-1:before { content: '\e80a'; } /* '' */
.icon-facebook-1:before { content: '\e80b'; } /* '' */
.icon-linkedin:before { content: '\e80c'; } /* '' */
.icon-facebook-rect:before { content: '\e80d'; } /* '' */
.icon-twitter-bird:before { content: '\e80e'; } /* '' */
.icon-linkedin-1:before { content: '\e80f'; } /* '' */
.icon-linkedin-rect:before { content: '\e810'; } /* '' */
.icon-linkedin-2:before { content: '\e811'; } /* '' */
.icon-twitter-2:before { content: '\e812'; } /* '' */
.icon-gmail:before { content: '\e813'; } /* '' */